/*
 * Globals
 */

:root {
  --blue: #2196f3ff;
  --indigo: #3f51b5ff;
  --blue-rgb: 33, 150, 243;
  --indigo-rgb: 63, 81, 181;
}


/* Links */
a,
a:focus,
a:hover {
  color: var(--indigo);
}

/* Custom default button */

.btn-outline-primary {
  font-size: 1.25rem;
  color: var(--blue);
  border-color: var(--blue);
  border-width: 0.20rem;
}
 
.btn-outline-primary:hover {
  color: #fff;
  background-color: var(--blue);
  border-color: var(--blue);
}
 
.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(var(--blue-rgb), 0.5);
}
 
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: var(--blue);
  background-color: transparent;
}
 
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--blue);
  border-color: var(--blue);
}
 
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(var(--blue-rgb), 0.5);
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  /* background-color: #333; */
  background: linear-gradient(to right, #fff, #c5cae9);
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #000;
  text-shadow: 0 .05rem .1rem rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 5rem rgba(255, 255, 255, 0.5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
  height: 20px;
  line-height: 40px;
  text-align: center;
}
@media screen and (min-width: 48em){
  .masthead {
    text-align: left;
  }
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-size: 1.40rem;
  /* font-weight: 700; */
  color: rgba(0, 0, 0, 1);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  /* transition: border-bottom-color .3s ease; */
}

.nav-masthead .nav-link:link,
.nav-masthead .nav-link:visited {
  border-bottom-color: rgba(63, 81, 181, 0.1);
}


.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: var(--blue);
}



.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: #555;
  font-size: 0.75rem;
}
